body{
	font-family: Gotham,Helvetica,Arial,sans-serif;
	color: #000;
	margin: 0;
	padding: 40px;
	font-size: 12px;
	line-height: 1;
}
a:link:before,
a:visited:before {
	text-transform: lowercase;
}

#primaryNav li.placeholder {
	visibility: hidden;
}

h1 {
	text-transform: none !important;
	font-size: 20px;
	font-weight: bold;
	margin: 0 0 5px;
}

h1 span {
	color: #ccc;
}

h2{
	color: #777;
	font-family: "Lucida Grande",Verdana,sans-serif;
	font-size: 10px;
	margin: 0 0 20px;
}

h6{
	display: none;
}

div.sitemap{
	float: left;
	margin: 0 0 40px;
	width: 100%;
}

code, pre{
	float: left;
	width: 75%;
	padding: 30px;
	
	border: 1px solid #E6E6E5;
	background: #f5f5f4;
	border-radius: 4px;
}