h2{position: relative;font-size:20px;font-weight: bold;}
h2 span{color: #ccc; float: none !important;}
.primary{margin: 50px 19px 0;}
a.raw,a.google,a.bing,a.yahoo{position:absolute; top:35px; padding:5px; font-size:15px; text-align:center; width:95px; font-weight:normal; color:#000; font-family:"Lucida Grande",Verdana,sans-serif; border:1px solid #E6E6E5; background:#f5f5f4; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; text-decoration:none;}
a.raw{left: 400px;}
a.google{left: 0;}
a.bing{left: 115px;}
a.yahoo{left: 230px;}
a.raw:hover,a.google:hover,a.bing:hover,a.yahoo:hover{background: #ccc;}
pre{white-space: pre-wrap; min-height: 250px; padding: 30px;border: 1px solid #E6E6E5;background: #f5f5f4;border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;}

.secondary{margin: 50px 19px 0 0; background: #353533; padding: 19px; width: 34%; color: #fff;border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;}
h3{margin-bottom: 1em; color: #fff; text-shadow: none;}
th,p.help{color: #bbb;}
span.frame{border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;}
td{color: #000;}
tr:nth-child(2n) td{color: #fff;}
#footer{position: relative; float: left; padding: 1.75em 1.5%; width: 97%;}