h2{position: relative;}
a.raw,a.google,a.bing,a.yahoo{position: absolute;top: 0;font-weight: normal;color: #000;padding: 1px 6px 2px;font-family: "Lucida Grande",Verdana,sans-serif;font-size: 11px;border: 1px solid #E6E6E5;background: #f5f5f4;border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;text-decoration: none;}
a.google,a.bing,a.yahoo{position: fixed;top: 10px;right: 10px;padding: 10px;font-size: 15px;text-align:center;width:95px;}
a.raw{left: 75%;}
a.bing{top: 60px;}
a.yahoo{top: 110px;}
a.raw:hover,a.google:hover,a.bing:hover,a.yahoo:hover{background: #ccc;}
pre{white-space: pre; width: 75%;min-width: 890px;padding: 30px;border: 1px solid #E6E6E5;background: #f5f5f4;border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;}
