pre{
	min-height: 250px;
	white-space: pre-wrap; 
	padding: 10px; 
	border: 1px solid rgba(191, 191, 183, 0.65);
	background: #f4f4f4;
	
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
			border-radius: 4px;
}

.two.columns .column.primary {
	width: 63%;
	margin-right: 2%;
}

.columns .secondary{
	background: #353533; 
	padding: 1%; 
	width: 34%; 
	color: #fff;
	
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
			border-radius: 4px;
}

.two.columns .secondary + .secondary {
	margin-top: 10px;
}

h3{margin-bottom: 1em; color: #fff; text-shadow: none;}

th,p.help{color: #bbb;}

span.frame{
	box-shadow: none;
	margin: 0;
}

td{
	color: #000;
}

tr:nth-child(2n) td {
	background: #fff;
}

tr.selected:nth-child(2n) td {
	background-color: #668abe;
	background-image: -webkit-linear-gradient(top, #668abe, #5c83ba);
	background-image:    -moz-linear-gradient(top, #668abe, #5c83ba);
	background-image:     -ms-linear-gradient(top, #668abe, #5c83ba);
	background-image:      -o-linear-gradient(top, #668abe, #5c83ba);
	background-image:   linear-gradient(to bottom, #668abe, #5c83ba);
	
	border-bottom: 1px solid #7492BC;
    border-top: 1px solid #4D78B4;
}
/*#footer{position: relative; float: left; padding: 1.75em 1.5%; width: 97%;}*/